#*.iml
#.gradle
#/local.properties
#/.idea/caches
#/.idea/libraries
#/.idea/modules.xml
#/.idea/workspace.xml
#/.idea/navEditor.xml
#/.idea/assetWizardSettings.xml
#.DS_Store
#/build
#/captures
#.externalNativeBuild
#.cxx
#local.properties

# Gradle files
.gradle/
**/build/

# Local configuration
local.properties

# IntelliJ / Android Studio
.idea/
*.iml

# Log / captures
*.log
captures/

# NDK / CMake
.externalNativeBuild/
.cxx/

# OS files
.DS_Store
Thumbs.db

